apiVersion: v1
kind: Service
metadata:
  name: backend-service
  namespace: flight-viz
  labels:
    app: backend
    component: api
spec:
  selector:
    app: backend
  ports:
    - name: http
      port: 3000
      targetPort: 3000
      protocol: TCP
  type: ClusterIP
