# General
*.log
*.pid
log/
tmp/
.env
.env.*
!.env.example
vendor/
frontend/node_modules/
frontend/dist/
backend/vendor/

# VSCode, macOS, etc.
.vscode/
.DS_Store
.ruby-lsp

# k8s documents
k8s/backend/secret.yaml

# local管理するスクリプト
local-scripts/
backups/
