apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: database-pvc
  namespace: flight-viz
  labels:
    app: database
    component: storage
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 10Gi
  storageClassName: local-path
