apiVersion: v1
kind: Service
metadata:
  name: frontend-service
  namespace: flight-viz
  labels:
    app: frontend
    component: web
spec:
  selector:
    app: frontend
  ports:
    - name: http
      port: 80
      targetPort: 80
      protocol: TCP
  type: ClusterIP
